.sidebar-container {
    width: 250px;
    height: 100%;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #81828a 100%);
}

.sidebar-item {
    margin: auto;
    padding: auto;
}


img {
    width: 100px;
    height: 100px;
}