<div class="bg-gradient-dark sidebar sidebar-dark">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        </div>
        <div class="sidebar-brand-text mx-3">App <sup>3</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <ul>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="'dashboard'" routerLinkActive="active">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
    </ul>

     <!-- Divider -->
     <hr class="sidebar-divider">

     <!-- Heading Pacients -->
     <div class="sidebar-heading">
        Citas
     </div>
     <ul >
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'appointment/create'">
                <span>Agendar Cita</span>
            </a>
        </li>
         <li class="nav-item" *ngIf="roles != 'Paciente'">
             <a class="nav-link" [routerLink]="'appointment/list'">
                 <span>Pacientes Citados</span>
             </a>
         </li>
     </ul>

    <!-- Divider -->
    <hr *ngIf="roles != 'Paciente'" class="sidebar-divider">

    <!-- Heading Pacients -->
    <div *ngIf="roles != 'Paciente'" class="sidebar-heading">
        Doctor y Pacientes
    </div>
    <ul *ngIf="roles != 'Paciente'">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'commons'">
                <span>Crear Usuarios</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'patients'">
                <span>Lista de Pacientes</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'doctors'">
                <span>Lista de Doctores</span>
            </a>
        </li>
    </ul>

     <!-- Divider -->
     <hr class="sidebar-divider">

     <!-- Heading Pacients -->
     <div class="sidebar-heading">
        Historial Médico
     </div>
     <ul>
         <li class="nav-item">
             <a class="nav-link" [routerLink]="'medical-record'">
                 <span>Historia Clinica</span>
             </a>
         </li>
     </ul>
    
</div>